:root {
  --Background: #FFF;
  --Menu: #007AFF;
  --Ring: #E6E6E6;
  --Text: #272727;
  --Delete: #FF453A;
}

html.dark {
  --Background: #262325;
  --Menu: #007AFF;
  --Ring: #E6E6E6;
  --Text: #DAD9DA;
  --Delete: #FF453A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(106deg,
      rgba(81, 87, 111, 1) 0%,
      rgba(60, 61, 69, 1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}