.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 456px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.icon {
  width: 32px;
  height: 32px;
}