.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.text {
  align-self: stretch;
  color: var(--Menu);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: transparent;
  opacity: 0.8;
}

.text:hover, .text.selected {
  opacity: 1;
}

.text.selected::after {
  content: '';
  display: block;
  margin-top: 0.2rem;
  border: 2px solid var(--Ring);
  border-radius: 20%;
}