.btn {
  border: none;
  background-color: var(--Background, #fff);
}

.back {
  position: relative; /* 부모 요소에 상대적 위치 설정 */
  width: 24px;
  height: 24px;
  border-radius: 50%; /* 동그라미 모양 */
  background-color: var(--Ring, #E6E6E6);
  display: flex; /* Flexbox를 사용하여 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.icon {
  position: absolute; /* 절대 위치 사용 */
  width: 20px;
  height: 20px;
}