.container {
  display: flex;
  width: 424px;
  height: 64px;
  padding: 0px 16px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--Ring);
  outline: none;
}

.box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 32px;
  height: 32px;
  color: #272727;
  opacity: 0.5;
}

.search {
  color: var(--Text);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
  border: none;
  outline: none;
  background-color: var(--Ring);
}